<a href="https://colab.research.google.com/github/youssefHosni/Efficient-Python-for-Data-Scientists/blob/main/Selecting_%26_Replacing_Values_In_Pandas_DataFrame_Effectively.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Selecting & Replacing Values In Pandas DataFrame  Effectively

As a data scientist, it is important to use the right tools and techniques to get the most out of the data. The Pandas library is a great tool for data manipulation, analysis, and visualization, and it is an essential part of any data scientist's toolkit. However, it can be challenging to use Pandas efficiently, and this can lead to wasted time and effort. 

Fortunately, there are a few best practices that can help data scientists get the most out of their Pandas experience. From using vectorized operations to taking advantage of built-in functions, these best practices will help data scientists quickly and accurately analyze and visualize data using Pandas. Understanding and applying these best practices will help data scientists increase their productivity and accuracy, allowing them to make better decisions faster.

In this article, we will focus on two of the most common tasks that you will commonly do on your DataFrame, especially in the data manipulation phase of a data science project. These two tasks are selecting specific and random rows and columns efficiently and the usage of the replace() function for replacing one or multiple values using lists and dictionaries.

### Table of Contents:
1. Why do We need Efficient Coding?
2. Selecting Rows & Columns Efficiently using .iloc[] & .loc[]
3. Replacing Values in a DataFrame Effectively
4. **Summary** of best practices for selecting and replacing values

Throughout this article, we will use three datasets:
* [Poker card game dataset](https://github.com/youssefHosni/Efficient-Python-for-Data-Scientists/blob/main/Datasets/poker_hand.csv)
* [Popular baby names](https://github.com/youssefHosni/Efficient-Python-for-Data-Scientists/blob/main/Datasets/Popular_Baby_Names.csv)

The first dataset is the [Poker card game dataset](https://github.com/youssefHosni/Efficient-Python-for-Data-Scientists/blob/main/Datasets/poker_hand.csv) which is shown below.

In [4]:
import pandas as pd
import time 
poker_data = pd.read_csv('poker_hand.csv')
poker_data.head()

   S1  R1  S2  R2  S3  R3  S4  R4  S5  R5  Class
0   1  10   1  11   1  13   1  12   1   1      9
1   2  11   2  13   2  10   2  12   2   1      9
2   3  12   3  11   3  13   3  10   3   1      9
3   4  10   4  11   4   1   4  13   4  12      9
4   4   1   4  13   4  12   4  11   4  10      9

In each poker round, each player has five cards in hand, each one characterized by its symbol, which can be either hearts, diamonds, clubs, or spades, and its rank, which ranges from 1 to 13. The dataset consists of every possible combination of five cards one person can possess.

* Sn: symbol of the n-th card where: 1 (Hearts), 2 (Diamonds), 3 (Clubs), 4 (Spades)
* Rn: rank of the n-th card where: 1 (Ace), 2–10, 11 (Jack), 12 (Queen), 13 (King)

The second dataset we will work with is the [Popular baby names](https://github.com/youssefHosni/Efficient-Python-for-Data-Scientists/blob/main/Datasets/Popular_Baby_Names.csv) dataset which includes the most popular names that were given to newborns between 2011 and 2016. The dataset is loaded and shown below:

In [5]:
names = pd.read_csv('Popular_Baby_Names.csv')
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

The dataset includes, among other information, the most popular names in the US by year, gender, and ethnicity. For example, the name Chloe was ranked second in popularity among all female newborns of Asian and Pacific Islander ethnicity in 2011.

## 1. Why do We need Efficient Coding?
Efficient code is code that executes faster and with lower computational meomery. In this article, we will use the time() function to measure the computational time. This function measures the current time so we will assign it to a variable before the code execution and after and then calculate the difference to know the computational time of the code. A simple example is shown in the code below:

In [6]:
import time
# record time before execution
start_time = time.time()
# execute operation
result = 5 + 2
# record time after execution
end_time = time.time()
print("Result calculated in {} sec".format(end_time - start_time))

Result calculated in 6.890296936035156e-05 sec

Let's see some examples of how applying efficient code methods will improve the code runtime and decrease the computational time complexity: We will calculate the square of each number from zero, up to a million. At first, we will use a list comprehension to execute this operation, and then repeat the same procedure using a for-loop.

First using list comprehension:

In [7]:
#using List comprehension 

list_comp_start_time = time.time()
result = [i*i for i in range(0,1000000)]
list_comp_end_time = time.time()
print("Time using the list_comprehension: {} sec".format(list_comp_end_time -
list_comp_start_time))

Time using the list_comprehension: 0.3217921257019043 sec

Now we will use for loop to execute the same operation:

In [8]:
# Using For loop

for_loop_start_time= time.time()
result=[]
for i in range(0,1000000):
  result.append(i*i)
for_loop_end_time= time.time()
print("Time using the for loop: {} sec".format(for_loop_end_time - for_loop_start_time))

Time using the for loop: 0.5098655223846436 sec

We can see that there is a big difference between them, we can calculate the difference between them in percentage:

In [9]:
list_comp_time = list_comp_end_time - list_comp_start_time
for_loop_time = for_loop_end_time - for_loop_start_time
print("Difference in time: {} %".format((for_loop_time - list_comp_time)/
list_comp_time*100))

Difference in time: 58.44561804379364 %

Here is another example to show the effect of writing efficient code. We would like to calculate the sum of all consecutive numbers from 1 to 1 million. There are two ways the first is to use brute force in which we will add one by one to a million.

In [10]:
def sum_brute_force(N):
  res = 0
  for i in range(1,N+1):
    res+=i
  return res

# Using brute force
bf_start_time = time.time()
bf_result = sum_brute_force(1000000)
bf_end_time = time.time()

print("Time using brute force: {} sec".format(bf_end_time - bf_start_time))

Time using brute force: 0.20503568649291992 sec

Another more efficient method is to use a formula to calculate it. When we want to calculate the sum of all the integer numbers from 1 up to a number, let's say N, we can multiply N by N+1, and then divide by 2, and this will give us the result we want. This problem was actually given to some students back in Germany in the 19th century, and a bright student called Carl-Friedrich Gauss devised this formula to solve the problem in seconds.

In [11]:
def sum_formula(N):
  return N*(N+1)/2
  
# Using the formula
formula_start_time = time.time()
formula_result = sum_formula(1000000)
formula_end_time = time.time()

print("Time using the formula: {} sec".format(formula_end_time - formula_start_time))

Time using the formula: 4.172325134277344e-05 sec

After running both methods, we achieve a massive improvement with a magnitude of over 160,000%, which clearly demonstrates why we need efficient and optimized code, even for simple tasks.

## 2. Selecting Rows & Columns Efficiently using .iloc[] & .loc[]

In this section, we will introduce how to locate and select rows efficiently from dataframes using **.iloc[]** & **.loc[]** pandas functions. We will use iloc[] for the index number locator and loc[] for the index name locator.
In the example below we will select the first 500 rows of the poker dataset. Firstly by using the **.loc[]** function, and then by using the **.iloc[]** function.

In [12]:
# Specify the range of rows to select

rows = range(0, 500)
# Time selecting rows using .loc[]
loc_start_time = time.time()
poker_data.loc[rows]
loc_end_time = time.time()
print("Time using .loc[] : {} sec".format(loc_end_time - loc_start_time))

Time using .loc[] : 0.005123138427734375 sec

In [13]:
# Specify the range of rows to select
rows = range(0, 500)
# Time selecting rows using .iloc[]
iloc_start_time = time.time()
poker_data.iloc[rows]
iloc_end_time = time.time()
print("Time using .iloc[]: {} sec".format(iloc_end_time - iloc_start_time))

Time using .iloc[]: 0.0004892349243164062 sec

In [14]:
loc_comp_time = loc_end_time - loc_start_time
iloc_comp_time = iloc_end_time - iloc_start_time
print("Difference in time: {} %".format((loc_comp_time - iloc_comp_time)/
iloc_comp_time*100))

Difference in time: 947.1734892787524 %

While these two methods have the same syntax, **.iloc[]** performs almost 70% faster than **.loc[]**. The **.iloc[]** function takes advantage of the order of the indices, which are already sorted, and is therefore faster.
We can also use them to select columns not only rows. In the next example, we will select the first three columns using both methods.

In [15]:
iloc_start_time = time.time()
poker_data.iloc[:,:3]
iloc_end_time = time.time()
print("Time using .iloc[]: {} sec".format(iloc_end_time - iloc_start_time))

Time using .iloc[]: 0.0002753734588623047 sec

In [16]:
names_start_time = time.time()
poker_data[['S1', 'R1', 'S2']]
names_end_time = time.time()
print("Time using selection by name: {} sec".format(names_end_time - names_start_time))

Time using selection by name: 0.0016252994537353516 sec

In [17]:
loc_comp_time = names_end_time - names_start_time
iloc_comp_time = iloc_end_time - iloc_start_time
print("Difference in time: {} %".format((loc_comp_time - iloc_comp_time)/
loc_comp_time*100))

Difference in time: 83.05706322429222 %

We can see also that using the column indexing using **.iloc[]** is still 80% faster. So it is better to use **.iloc[]** as it is faster unless it is easier to use the loc[] to select certain columns by name.

## 3. Replacing Values in a DataFrame Effectively
Replacing values in a DataFrame is a very important task, especially in the data cleaning phase. Since you will have to keep the whole values that represent the same object the same.

Let's take a look at the popular baby names dataset we loaded before:

In [18]:
names = pd.read_csv('Popular_Baby_Names.csv')
names.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5

Let's have a closer look at the Gender feature and see the unique values they have:

In [19]:
names['Gender'].unique()

array(['FEMALE', 'MALE'], dtype=object)

We can see that the female gender is represented with two values both uppercase and lowercase. This is very common in real data and an easy way to do so is to replace one of the values with the other to keep it consistent throughout the whole dataset. There are two ways to do it the first one is simply defining which values we want to replace, and then what we want to replace them with. This is shown in the code below:

In [20]:
start_time = time.time()
names['Gender'].loc[names.Gender=='female'] = 'FEMALE'
end_time = time.time()

pandas_time = end_time - start_time
print("Replace values using .loc[]: {} sec".format(pandas_time))

Replace values using .loc[]: 0.002582073211669922 sec

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

The second method is to use the panda's built-in function **.replace()** as shown in the code below:

In [21]:
start_time = time.time()
names['Gender'].replace('female', 'FEMALE', inplace=True)
end_time = time.time()
replace_time = end_time - start_time

print("Time using replace(): {} sec".format(replace_time))

Time using replace(): 0.0024094581604003906 sec

We can see that there is a difference in time complexity with the built-in function 157% faster than using the **.loc()** method to find the rows and columns index of the values and replace it.

In [22]:
print('The differnce: {} %'.format((pandas_time- replace_time )/replace_time*100))

The differnce: 7.164060953888779 %

We can also replace multiple values using lists. Our objective is to change all ethnicities classified as **WHITE NON-HISPANIC** or **WHITE NON-HISP** to **WNH**. Using the **.loc[]** function, we will locate babies of the ethnicities we are looking for, using the 'or' statement (which in Python is symbolized by the pipe). We will then assign the new value. As always, we also measure the CPU time needed for this operation.

In [23]:
start_time = time.time()

names['Ethnicity'].loc[(names["Ethnicity"] == 'WHITE NON HISPANIC') |
(names["Ethnicity"] == 'WHITE NON HISP')] = 'WNH'

end_time = time.time()
pandas_time= end_time - start_time
print("Results from the above operation calculated in %s seconds" %(pandas_time))

Results from the above operation calculated in 0.010097742080688477 seconds

We can also do the same operation using the .replace() pandas built-in function as the following:

In [24]:
start_time = time.time()
names['Ethnicity'].replace(['WHITE NON HISPANIC','WHITE NON HISP'],
'WNH', inplace=True)

end_time = time.time()
replace_time = end_time - start_time

print("Time using .replace(): {} sec".format(replace_time))

Time using .replace(): 0.003354787826538086 sec

We can see that again using the **.replace()** method is much faster than using the **.loc[]** method. To have better intuition of how much faster it is let's run the code below:

In [25]:
print('The differnce: {} %'.format((pandas_time- replace_time )/replace_time*100))

The differnce: 200.99495416104043 %

The **.replace()** method is 87% faster than using the .loc[] method. If your data is huge and need a lot of cleaning this tip will decrease the computational time of your data cleaning and makes your pandas code much faster and hence more efficient.

Finally, we can also use dictionaries to replace both single and multiple values in your DataFrame. This will be very helpful if you would like to multiple replacing functions in one command.
We're going to use dictionaries to replace every male's gender with BOY and every female's gender with GIRL.

In [26]:
names = pd.read_csv('Popular_Baby_Names.csv')

start_time = time.time()
names['Gender'].replace({'MALE':'BOY', 'FEMALE':'GIRL', 'female': 'girl'}, inplace=True)
end_time = time.time()
dict_time = end_time - start_time
print("Time using .replace() with dictionary: {} sec".format(dict_time))

Time using .replace() with dictionary: 0.0034475326538085938 sec

In [27]:
names = pd.read_csv('Popular_Baby_Names.csv')

start_time = time.time()

names['Gender'].replace('MALE', 'BOY', inplace=True)
names['Gender'].replace('FEMALE', 'GIRL', inplace=True)
names['Gender'].replace('female', 'girl', inplace=True)

end_time = time.time()

list_time = end_time - start_time
print("Time using multiple .replace(): {} sec".format(list_time))

Time using multiple .replace(): 0.002288818359375 sec

In [28]:
print('The differnce: {} %'.format((list_time- dict_time )/dict_time*100))

The differnce: -33.60995850622407 %

We could do the same thing with lists, but it's more verbose. If we compare both methods, we can see that dictionaries run approximately 22% faster. In general, working with dictionaries in Python is very efficient compared to lists: looking through a list requires a pass in every element of the list while looking at a dictionary directs instantly to the key that matches the entry. The comparison is a little unfair though since both structures serve different purposes.

Using dictionaries allows you to replace the same values on several different columns. In all the previous examples, we specified the column from which the values to replace came. We're now going to replace several values from the same column with one common value. We want to classify all ethnicities into three big categories: Black, Asian and White. The syntax again is very simple. We use nested dictionaries here: the outer key is the column in which we want to replace values. The value of this outer key is another dictionary, where the keys are the ethnicities to replace, and the values for the new ethnicity (Black, Asian or White).

In [29]:
start_time = time.time()
names.replace({'Ethnicity': {'ASIAN AND PACI': 'ASIAN', 'ASIAN AND PACIFIC ISLANDER': 'ASIAN',
'BLACK NON HISPANIC': 'BLACK', 'BLACK NON HISP': 'BLACK',
'WHITE NON HISPANIC': 'WHITE', 'WHITE NON HISP': 'WHITE'}})
print("Time using .replace() with dictionary: {} sec".format (time.time() - start_time))

Time using .replace() with dictionary: 0.011412620544433594 sec

## 4. Summary of best practices for selecting and replacing values
* Selecting rows and columns is faster using the .iloc[] function. So it is better to use unless it is easier or more convenient to use .loc[] and the speed is not a priority or you are just doing it once.
* Using the built-in replace() function is much faster than just using conventional methods.
* Replacing multiple values using python dictionaries is faster than using lists.